.footer {

    // @media screen and (max-width : 768px) {
    //     .bottom{
    //         max-width: 100%;
    //         overflow: hidden;
    //         display: flex;
    //         flex-wrap: wrap;
    //         justify-content: space-between;
    //         display: none;

    //         .right{
    //             max-width: 60%;
    //             // display: none;
    //         }

    //         .left{
    //             width: 40%;
    //         }
    //     }
    
    // }


    display: flex;
    justify-content: center;
    color: #666;
    margin: 50px 0px;

    img {
        width: 24px;
        height: 24px;
    }

    .container {
        width: 100%;

        .top {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .item {
                max-width: 200px;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                gap: 20px;

                h2 {
                    font-size: 16px;
                    color: #555;
                }

                span {
                    font-weight: 300;
                }
            }
        }

        hr {
            margin: 50px 0px;
            height: 0;
            border: 1px solid #ebe9e9;
        }

        .bottom {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 2rem;

            .left {
                width: 40%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 20px;

                span {
                    font-size: 13px;
                    white-space: nowrap;
                }
            }

            .right {
                display: flex;
                align-items: center;
                gap: 30px;

                .social {
                    display: flex;
                    gap: 20px;
                }

                .link {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }


    }
}


@media screen and (max-width: 768px) {
    .container {
        .top {
            flex-wrap: wrap;
            padding: 10px;
        }

        .bottom {
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: center;

            .social {
                flex-wrap: wrap;
            }

            .right {
                flex-wrap: wrap;
            }
        }
    }
}