.featured {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001641;
    color: white;
  
    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
  
        h1 {
          font-size: 50px;
          margin-bottom: 4rem;
          padding: 0 15px;
        }

        span {
          font-style: italic;
          font-weight: 300;
        }

        span{
          cursor: pointer;
        }
  
        .search {
          margin: auto;
          width: 75%;
          background-color: white;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          overflow: hidden;
  
          .searchInput {
            display: flex;
            align-items: center;
            gap: 10px;
            img {
              width: 20px;
              height: 20px;
              margin: 10px;
            }
  
            input {
              border: none;
              outline: none;
  
              &::placeholder {
                color: gray;
              }
            }
          }
  
          button {
            width: 120px;
            height: 50px;
            border: none;
            background-color: #008e5a;
            color: white;
            align-self: flex-end;
            cursor: pointer;
          }
        }
  
        .popular {
          display: flex;
          align-items: center;
          gap: 10px;
          margin: auto;
          margin-top: 15px;
  
          span {
            width: max-content;
          }
  
          button {
            width: max-content;
            color: white;
            border: 1px solid white;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: transparent;
            font-size: 14px;
          }
        }
        @media screen and (max-width : 968px) {
            .popular{
              flex-wrap: wrap;
              margin: 20px 30px;
            }
        }
      }
  
      .right {
        height: 100%;
        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }